// MIXINS
@import '../../styles/global/mixins';

// STYLES
.brands {
  @include flex(row, wrap, center, center);
  gap: clamp(2.5rem, 5vw, 10rem);
  padding: clamp(3rem, 3.5vw, 7rem) clamp(1.5rem, 7.5vw, 15rem);

  &-li {
    flex-basis: clamp(10rem, 15.5vw, 31rem);
  }
}
