// MIXINS
@import '../../styles/global/mixins';

// STYLES
.card {
  @include flex(column, nowrap, center, flex-start);
  gap: clamp(0.75rem, 0.75vw, 1.5rem);
  padding: clamp(1rem, 1vw, 2rem);
  background-color: var(--background-two);
  border-radius: clamp(1rem, 1vw, 2rem);

  &-icon {
    width: clamp(3rem, 3vw, 6rem);
  }
  &-title {
    font-size: clamp(1.25rem, 1.5vw, 3rem);
    font-weight: 600;
  }
  &-paragraph {
    font-size: clamp(1rem, 1.25vw, 2.5rem);
    font-weight: 400;
  }
}
