// MIXINS
@import '../../styles/global/mixins';

// STYLES
.header {
  @include flex(row, wrap, space-between, center);
  padding: clamp(0.5rem, 1vw, 2rem) clamp(1.5rem, 7.5vw, 15rem);

  &-title {
    font-size: clamp(2rem, 2vw, 4rem);
    font-weight: 700;
    background: var(--gradient-one);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &-nav {
    @include flex(column, nowrap, center, center);
  }
  &-ul {
    @include flex(row, wrap, center, center);
    gap: clamp(2.5rem, 2.5vw, 5rem);
  }
  &-a {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: 400;
  }
  &-btn {
    font-size: clamp(0.75rem, 1vw, 2rem);
    font-weight: 400;
    background-image: var(--gradient-one);
    padding: clamp(0.5rem, 1vw, 2rem) clamp(1rem, 2vw, 4rem);
    border-radius: clamp(1.5rem, 3vw, 6rem);
  }
  &-menu {
    display: none;
  }
}

// MEDIAQUERYS
@include mediamax(796px) {
  .header {
    &-nav {
      height: 0;
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transition: 500ms ease-in-out;

      &-active {
        height: 20rem;
        opacity: 1;
      }
    }
    &-ul {
      @include flex(column, nowrap, center, center);
      padding: clamp(2rem, 2vw, 4rem);
    }
    &-btn {
      display: none;
    }
    &-menu {
      display: block;
    }
  }
}
