// MIXINS
@import '../../styles/global/mixins';

// STYLES
.banner {
  @include flex(column, nowrap, center, center);
  gap: clamp(1.25rem, 2.5vw, 5rem);
  background: var(--gradient-one);
  margin: clamp(3rem, 5.75vw, 10.5rem) 0;
  padding: clamp(2rem, 4.5vw, 9rem) 0;
  border-radius: clamp(1rem, 1vw, 2rem);

  &-title {
    font-size: clamp(1.5rem, 3vw, 6rem);
    font-weight: 700;
  }
  &-btn {
    color: #1c51fe;
    background: #ffffff;
  }
}
